version: '3'

services:
  app:
    build:
      context: .
    ports:
      - "8000:8000"

    volumes:
      - .:/app
    command: >
      sh -c "python3 manage.py migrate &&
             python3 manage.py runserver 0.0.0.0:8005"

  redis:
    image: redis:alpine
  celery:
    restart: always

    volumes:
      - .:/app

    build:
      context: .
    command: celery -A VideoCompression worker --loglevel=INFO 


    depends_on:
      - redis
      - app


